<header class="header-section">
    <div class="container in-header">
        <div id="w-node-e27a7043-72b4-aa74-1356-4eaa513fd522-513ac509" class="header-content">
            <div class="logo-wrap in-header"><a href="/" aria-current="page" class="logo w-inline-block w--current"><img
                        src="https://assets-global.website-files.com/5ecb81f357d94bdba23ac508/5ed4f714a0977f63ca502432_sunday_logo.svg"
                        alt="" class="image">
                    <div class="text-block">Chiesa Cristiana Evangelica - ADI Bergamo</div>
                </a>
                <div class="menu">
                    <div data-w-id="0cdfc0c9-e628-8baf-6bea-330630344380" class="menu-icon">
                        <div data-w-id="0cdfc0c9-e628-8baf-6bea-330630344382" class="menu-icon-line" style=""></div>
                        <div data-w-id="0cdfc0c9-e628-8baf-6bea-330630344381" class="menu-icon-line second" style="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-text-wrap">
                <div class="overflow-hidden">
                    <div data-w-id="e27a7043-72b4-aa74-1356-4eaa513fd527"
                        style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                        class="hero-text">Amare Dio e</div>
                </div>
                <div class="overflow-hidden">
                    <div data-w-id="e27a7043-72b4-aa74-1356-4eaa513fd52b"
                        style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                        class="hero-text">amare il prossimo</div>
                </div>
            </div>
        </div>
        <div id="w-node-e27a7043-72b4-aa74-1356-4eaa513fd52d-513ac509" data-w-id="e27a7043-72b4-aa74-1356-4eaa513fd52d"
            class="header-navigation" style="opacity: 1;"><a href="#Welcome"
                id="w-node-e27a7043-72b4-aa74-1356-4eaa513fd52e-513ac509"
                data-w-id="e27a7043-72b4-aa74-1356-4eaa513fd52e"
                style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"
                class="hero-navigation-link">Incontri</a><a href="#Community"
                id="w-node-e27a7043-72b4-aa74-1356-4eaa513fd530-513ac509"
                data-w-id="e27a7043-72b4-aa74-1356-4eaa513fd530"
                style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"
                class="hero-navigation-link">Podcast</a><a href="#Our-Mission"
                id="w-node-e27a7043-72b4-aa74-1356-4eaa513fd532-513ac509"
                data-w-id="e27a7043-72b4-aa74-1356-4eaa513fd532"
                style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"
                class="hero-navigation-link">Chi siamo</a><a href="#Ministry"
                id="w-node-e27a7043-72b4-aa74-1356-4eaa513fd534-513ac509"
                data-w-id="e27a7043-72b4-aa74-1356-4eaa513fd534"
                style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"
                class="hero-navigation-link w--current">Ministry</a><a href="#Events"
                id="w-node-e27a7043-72b4-aa74-1356-4eaa513fd536-513ac509"
                data-w-id="e27a7043-72b4-aa74-1356-4eaa513fd536"
                style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"
                class="hero-navigation-link">Events</a><a href="#Location"
                id="w-node-e27a7043-72b4-aa74-1356-4eaa513fd538-513ac509"
                data-w-id="e27a7043-72b4-aa74-1356-4eaa513fd538"
                style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"
                class="hero-navigation-link">Location</a></div>
    </div>
</header>
<section id="Welcome" class="welcome-section">
    <div class="container in-welcome">
        <h2 id="w-node-b5688fd9-6c0c-3f59-a721-5bd34ab09cd5-513ac509" class="welcome-heading">Evanghélion: "La Buona
            Notizia"</h2>
        <h4 class="welcome-subhead">«Ecco, Io sto per fare una cosa nuova; essa sta per germogliare, non la
            riconoscete?»</h4>
        <div class="pastor-name-wrap">
            <h6 class="pastor-name">Isaia</h6>
            <h6 class="pastor-status">43:19</h6>
        </div>
        <div class="meeting-times-wrap"><img
                src="https://assets-global.website-files.com/5ecb81f357d94bdba23ac508/5ed640a9bb00f5552a99eda9_watch.svg"
                alt="" class="meeting-times-icon">
            <h6>incontri:</h6>
            <div class="meeting-times-row">
                <h5>Culto domenicale</h5>
                <div class="service-time-starts">
                    <h5 class="no-margin">Domenica 10:30</h5>
                </div>
            </div>
            <div class="meeting-times-row">
                <h5>Culto di Preghiera</h5>
                <div class="service-time-starts">
                    <h5 class="no-margin">Venerdì 20:30</h5>
                </div>
            </div>
            <div class="meeting-times-row">
                <h5>Incontri Giovani</h5>
                <div class="service-time-starts">
                    <h5 class="no-margin">Sabato 18:30</h5>
                </div>
            </div>
            <div class="meeting-times-row">
                <h5>Incontri nelle famiglie</h5>
                <div class="service-time-starts">
                    <h5 class="no-margin">In settimana</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="Community" class="community-section">
    <div data-w-id="f859c007-77e0-74a4-6b0b-e25d1065e637" class="container in-community">
        <div id="w-node-f859c007-77e0-74a4-6b0b-e25d1065e638-513ac509" class="chat-wrapper">

            <!-- wp:embed {"url":"https://www.youtube.com/watch?v=E7RCEcIr0PU\u0026list=PLlBrz8HTNqp0XGbFHQbutlBAsj5XEpKEb\u0026ab_channel=EvangeliciBergamo","type":"video","providerNameSlug":"youtube","responsive":true,"className":"wp-embed-aspect-16-9 wp-has-aspect-ratio"} -->
            <figure
                class="wp-block-embed is-type-video is-provider-youtube wp-block-embed-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio">
                <div class="wp-block-embed__wrapper">
                    https://www.youtube.com/watch?v=E7RCEcIr0PU&amp;list=PLlBrz8HTNqp0XGbFHQbutlBAsj5XEpKEb&amp;ab_channel=EvangeliciBergamo
                </div>
            </figure>
            <!-- /wp:embed -->

        </div>
        <div id="w-node-f859c007-77e0-74a4-6b0b-e25d1065e649-513ac509" class="community-content">
            <h3 data-w-id="f859c007-77e0-74a4-6b0b-e25d1065e64a" class="community-heading">Puoi rivedere la predicazione
                settimanale del Vangelo qui.</h3>
        </div>
    </div>
</section>
<section id="Our-Mission" class="mission-section">
    <div class="container in-mission">
        <div class="mission-content">
            <h5 class="mission-heading">Credo</h5>
            <h3 class="mission-description">Gesù è il nostro fondamento.</h3>
            <h4 class="mission-about">La figura di Gesù è centrale nei nostri discorsi perché rappresenta il fondamento
                della nostra comunità. Il nostro desiderio è condividere con te la sua storia e i suoi insegnamenti. Ti
                esortiamo a esplorare, attraverso la lettura e l’ascolto, a riflettere profondamente e a prendere una
                decisione personale. Il nostro obiettivo non è semplicemente portarti nella nostra chiesa, ma guidarti
                alla scoperta di Gesù.</h4><a href="/blog" class="button-outlined black">Approfondisci</a>
        </div>
        <div class="mission-services">
            <div class="mission-item love">
                <div data-w-id="393f3a53-9e11-fade-c8e9-150c04961e50" class="animation-image-wrap" style=""><img
                        src="https://assets-global.website-files.com/5ecb81f357d94bdba23ac508/61d3013ee47e3d6b9e687426_priscilla-du-preez-MIf25phxNlE-unsplash%202.jpg"
                        alt="" class="animation-image" style=""></div>
                <h2 class="mission-title love">Amare.</h2>
            </div>
            <div class="mission-item care">
                <div data-w-id="393f3a53-9e11-fade-c8e9-150c04961e50" class="animation-image-wrap" style=""><img
                        src="https://assets-global.website-files.com/5ecb81f357d94bdba23ac508/5ecb8b5a4ec47b4903639b02_service%202.jpg"
                        alt="" class="animation-image" style=""></div>
                <h2 class="mission-title care">Predicare.</h2>
            </div>
            <div class="mission-item serve">
                <div data-w-id="393f3a53-9e11-fade-c8e9-150c04961e50" class="animation-image-wrap" style=""><img
                        src="https://assets-global.website-files.com/5ecb81f357d94bdba23ac508/61d3014e79de891020b194d9_junior-reis-yTIH0J7ohNM-unsplash%202.jpg"
                        alt="" class="animation-image" style=""></div>
                <h2 class="mission-title serve">Servire.</h2>
            </div>
        </div>
    </div>
</section>
<section id="Ministry" class="ministry-section">
    <div class="container">
        <h5 id="w-node-_223bacac-2b22-a10b-7721-18d0ff98274a-513ac509" class="ministry-subheading">Sunday Ministry.
        </h5>
        <h3 class="ministry-heading">What to expect at a typical Sunday Church worship service?</h3>
        <div class="ministry-content">
            <div class="ministry-media">
                <div data-w-id="393f3a53-9e11-fade-c8e9-150c04961e50" class="animation-image-wrap"
                    style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                    <img src="https://assets-global.website-files.com/5ecb81f357d94bdba23ac508/5ee2362a33f23537324e301c_priscilla-du-preez-6j13ytc_mTE-unsplash.jpg"
                        alt="" class="animation-image"
                        style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                </div>
            </div>
            <div class="ministry-description"><img
                    src="https://assets-global.website-files.com/5ecb81f357d94bdba23ac508/5ed632c1c75389199cff4ee2_music.svg"
                    alt="" class="ministry-content-icon">
                <h3 class="ministry-content-title">Enjoyable music.</h3>
                <p>Our Sunday atmosphere is relaxed and casual. People wear anything from business casual to jeans
                    and t-shirts. Wear whatever you are most comfortable in!</p><img
                    src="https://assets-global.website-files.com/5ecb81f357d94bdba23ac508/5ed632d190a96b4e29ea35cc_coffee.svg"
                    alt="" class="ministry-content-icon">
                <h3 class="ministry-content-title">Relaxed atmosphere.</h3>
                <p>Sunday atmosphere is relaxed and casual. People wear anything from business casual to jeans and
                    t-shirts.</p>
            </div>
        </div>
        <div class="ministry-content">
            <div class="ministry-media from-left">
                <div data-w-id="393f3a53-9e11-fade-c8e9-150c04961e50" class="animation-image-wrap"><img
                        src="https://assets-global.website-files.com/5ecb81f357d94bdba23ac508/5ed5482856deebd9aa783d6a_ministry%201.jpg"
                        alt="" sizes="(max-width: 767px) 84vw, 42vw"
                        srcset="https://assets-global.website-files.com/5ecb81f357d94bdba23ac508/5ed5482856deebd9aa783d6a_ministry%201-p-500.jpeg 500w, https://assets-global.website-files.com/5ecb81f357d94bdba23ac508/5ed5482856deebd9aa783d6a_ministry%201.jpg 800w"
                        class="animation-image"></div>
            </div>
            <div class="ministry-description from-right"><img
                    src="https://assets-global.website-files.com/5ecb81f357d94bdba23ac508/5ed64095bb00f513d299ed6d_smile.svg"
                    alt="" class="ministry-content-icon">
                <h3 class="ministry-content-title">What should I&nbsp;wear?</h3>
                <p>Our Sunday atmosphere is relaxed and casual. People wear anything from business casual to jeans
                    and t-shirts. Wear whatever you are most comfortable in! People wear anything from business
                    casual to jeans and t-shirts. Wear whatever you are most comfortable in!</p><a href="/ministries"
                    class="button-outlined">Our Ministries</a>
            </div>
        </div>
    </div>
</section>
<section id="Events" class="events-section">
    <div class="container in-events">
        <div id="w-node-_3d73b967-3b35-eee8-e359-15bbb0641179-513ac509" class="events-left"><img
                src="https://assets-global.website-files.com/5ecb81f357d94bdba23ac508/5ed747b3150cb05b42a3a5c5_calendar%202.svg"
                alt="" class="events-icon">
            <h2 class="events-heading">Events.</h2>
            <h5 class="events-subheading">Championing the cause of local churches everywhere.</h5>
        </div>
        <div class="events-right">
            <div class="w-dyn-list">
                <div role="list" class="w-dyn-items">
                    <div role="listitem" class="w-dyn-item"><a data-w-id="cd9aefab-bb10-41fa-d31f-89aeda6440fa"
                            href="/events/distinctio-illum" class="event-content w-inline-block"
                            style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                            <div class="event-info"
                                style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                <h6 class="event-item-time">June 4, 2020</h6>
                                <h3 style="color:hsla(90.00000000000021, 4.97%, 75.78%, 1.00)"
                                    class="event-item-heading">Support Togeather</h3>
                            </div><img width="600" alt="Support Togeather"
                                src="https://assets-global.website-files.com/5ed66475af2f2b5eb40d7fbb/61d306880681937449497276_pexels-tima-miroshnichenko-5711385.jpg"
                                sizes="(max-width: 479px) 84vw, 44vw"
                                srcset="https://assets-global.website-files.com/5ed66475af2f2b5eb40d7fbb/61d306880681937449497276_pexels-tima-miroshnichenko-5711385-p-800.jpeg 800w, https://assets-global.website-files.com/5ed66475af2f2b5eb40d7fbb/61d306880681937449497276_pexels-tima-miroshnichenko-5711385.jpg 960w"
                                class="event-image"
                                style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        </a></div>
                    <div role="listitem" class="w-dyn-item"><a data-w-id="cd9aefab-bb10-41fa-d31f-89aeda6440fa"
                            href="/events/saepe" class="event-content w-inline-block" style="">
                            <div class="event-info" style="">
                                <h6 class="event-item-time">June 10, 2020</h6>
                                <h3 style="color:hsla(19.354838709677416, 0.00%, 100.00%, 1.00)"
                                    class="event-item-heading">Baseball Meetup</h3>
                            </div><img width="600" alt="Baseball Meetup"
                                src="https://assets-global.website-files.com/5ed66475af2f2b5eb40d7fbb/61d35976a8857e446c9c645d_pexels-tima-miroshnichenko-5184714.jpg"
                                sizes="(max-width: 479px) 84vw, 44vw"
                                srcset="https://assets-global.website-files.com/5ed66475af2f2b5eb40d7fbb/61d35976a8857e446c9c645d_pexels-tima-miroshnichenko-5184714-p-500.jpeg 500w, https://assets-global.website-files.com/5ed66475af2f2b5eb40d7fbb/61d35976a8857e446c9c645d_pexels-tima-miroshnichenko-5184714-p-800.jpeg 800w, https://assets-global.website-files.com/5ed66475af2f2b5eb40d7fbb/61d35976a8857e446c9c645d_pexels-tima-miroshnichenko-5184714.jpg 960w"
                                class="event-image" style="">
                        </a></div>
                    <div role="listitem" class="w-dyn-item"><a data-w-id="cd9aefab-bb10-41fa-d31f-89aeda6440fa"
                            href="/events/alias" class="event-content w-inline-block" style="">
                            <div class="event-info" style="">
                                <h6 class="event-item-time">June 8, 2020</h6>
                                <h3 style="color:hsla(31.621621621621625, 0.00%, 100.00%, 1.00)"
                                    class="event-item-heading">Leading Voice</h3>
                            </div><img width="600" alt="Leading Voice"
                                src="https://assets-global.website-files.com/5ed66475af2f2b5eb40d7fbb/61d3080f9a056b2153bc2df1_pexels-tima-miroshnichenko-5199815.jpg"
                                sizes="(max-width: 479px) 84vw, 44vw"
                                srcset="https://assets-global.website-files.com/5ed66475af2f2b5eb40d7fbb/61d3080f9a056b2153bc2df1_pexels-tima-miroshnichenko-5199815-p-500.jpeg 500w, https://assets-global.website-files.com/5ed66475af2f2b5eb40d7fbb/61d3080f9a056b2153bc2df1_pexels-tima-miroshnichenko-5199815-p-800.jpeg 800w, https://assets-global.website-files.com/5ed66475af2f2b5eb40d7fbb/61d3080f9a056b2153bc2df1_pexels-tima-miroshnichenko-5199815.jpg 960w"
                                class="event-image" style="">
                        </a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="location-section">
    <div class="container in-location">
        <div data-w-id="393f3a53-9e11-fade-c8e9-150c04961e50" class="animation-image-wrap"><img
                src="https://assets-global.website-files.com/5ecb81f357d94bdba23ac508/5ed7c0185388892ce11cf9e7_akira-hojo-_86u_Y0oAaM-unsplash%201.jpg"
                alt="" sizes="(max-width: 479px) 84vw, (max-width: 991px) 39vw, 33vw"
                srcset="https://assets-global.website-files.com/5ecb81f357d94bdba23ac508/5ed7c0185388892ce11cf9e7_akira-hojo-_86u_Y0oAaM-unsplash%201-p-500.jpeg 500w, https://assets-global.website-files.com/5ecb81f357d94bdba23ac508/5ed7c0185388892ce11cf9e7_akira-hojo-_86u_Y0oAaM-unsplash%201.jpg 600w"
                class="animation-image"></div>
        <div id="Location" class="location-content">
            <div class="location-item"><img
                    src="https://assets-global.website-files.com/5ecb81f357d94bdba23ac508/5ed7a878924c173c72abb35b_map.svg"
                    alt="">
                <h4 class="location-title">Find Us</h4>
                <p class="no-margin">8855 Sunday Church Avenue.<br>Centralia, WA 551133.</p>
            </div>
            <div class="location-item"><img
                    src="https://assets-global.website-files.com/5ecb81f357d94bdba23ac508/5ed7a881f2bff4503b89217f_phone.svg"
                    alt="">
                <h4 class="location-title">Contact Us</h4><a href="/contact" class="location-link">send a
                    message</a><a href="tel:+12345678" class="location-link">+123.456.7890</a><a
                    href="mailto:Mail?subject=mail%40example.com" class="location-link">mail@example.com</a>
            </div>
            <div class="location-item"><img
                    src="https://assets-global.website-files.com/5ecb81f357d94bdba23ac508/5ed922f41211e30f5af66715_users%203.svg"
                    alt="">
                <h4 class="location-title">Follow Us</h4><a href="#" class="location-link">Instagram</a><a href="#"
                    class="location-link">Facebook</a>
            </div>
        </div>
    </div>
</section>

<!-- wp:template-part {"slug":"footer","theme":"diemrt-local-church-theme","area":"uncategorized"} /-->