<section class="ministry-header-section">
    <div class="container in-ministry-header">
        <!-- wp:template-part {"slug":"page-logo","theme":"diemrt-local-church-theme","area":"uncategorized"} /-->
        <!-- wp:pattern {"slug":"localchurch/header-menu"} /-->
        </div>
        <h1 class="no-margin">Le noste attività</h1>
        <h3 class="ministry-titlle">Tutte le nostre principali iniziative in chiesa</h3>
        <!-- wp:pattern {"slug":"localchurch/initiatives"} /-->
    </div>
</section>

<!-- wp:template-part {"slug":"footer","theme":"diemrt-local-church-theme","area":"uncategorized"} /-->