<section class="ministry-header-section">
    <div class="container in-ministry-header">
        <!-- wp:template-part {"slug":"page-logo","theme":"diemrt-local-church-theme","area":"uncategorized"} /-->
        <div class="team-heading-wrap">
            <h1 class="no-margin">Il consiglio di chiesa</h1>
            <h3 class="team-heading">Le nostre figure di riferimento</h3>
        </div>
        <div class="collection-list-wrapper w-dyn-list">
            <div role="list" class="collection-list w-dyn-items">
            <!-- wp:pattern {"slug":"localchurch/team-members"} /-->
        </div>
    </div>
</section>

<!-- wp:template-part {"slug":"footer","theme":"diemrt-local-church-theme","area":"uncategorized"} /-->