
<section class="ministry-header-section">
    <div class="container in-ministry-header">
        <div class="logo-wrap"><a href="/" class="logo blue w-inline-block"><img src="https://assets-global.website-files.com/5ecb81f357d94bdba23ac508/5ed7d0e4b6e821e026bb2543_logo_blue.svg" alt="" class="image">
                <div class="text-block">Chiesa Cristiana Evangelica - ADI Bergamo</div>
            </a>
            <!-- wp:pattern {"slug":"localchurch/header-menu"} /-->
        </div>
        <!-- wp:post-content /-->
    </div>
</section>

<!-- wp:template-part {"slug":"footer","theme":"diemrt-local-church-theme","area":"uncategorized"} /-->