<section class="ministry-header-section">
    <div class="container in-ministry-header">
        <div class="logo-wrap"><a href="/" class="logo blue w-inline-block"><img
                    src="https://assets-global.website-files.com/5ecb81f357d94bdba23ac508/5ed7d0e4b6e821e026bb2543_logo_blue.svg"
                    alt="" class="image">
                <div class="text-block">Chiesa Cristiana Evangelica - ADI Bergamo</div>
            </a>
            <!-- wp:pattern {"slug":"localchurch/header-menu"} /-->
        </div>
        <h1 class="no-margin">In cosa crediamo</h1>
        <h4>Dichiarazione di fede</h4>
        <div class="w-layout-grid believe-content">
            <div class="believe-item-counter">
                <h3>1.</h3>
            </div>
            <div>
                <h4>Le scritture ispirate</h4>
                <p>“Crediamo ed accettiamo l’intera Bibbia come Parola di DIO ispirata, unica, infallibile ed autorevole regola della nostra fede e della nostra condotta”. (Seconda Lettera di Paolo a Timoteo 3:15-17; Lettera di Paolo ai Romani 1:16; Prima lettera di Paolo ai Tessalonicesi 2:13).</p>
            </div>
            <div class="believe-item-counter">
                <h3>2.</h3>
            </div>
            <div>
                <h4>L’unico vero Dio</h4>
                <p>“Crediamo nell’unico vero DIO, Eterno, Onnipotente, Creatore e Signore di tutte le cose e che nella Sua unità vi sono tre distinte persone: Padre, Figliolo e Spirito Santo”. (Lettera di Paolo agli Efesini 4:6; Vangelo di Matteo 28:19; Vangelo di Luca 3:21-22; Prima lettera di Giovanni 5:7).</p>
            </div>
            <div class="believe-item-counter">
                <h3>3.</h3>
            </div>
            <div>
                <h4>La salvezza</h4>
                <p>Crediamo che soltanto il ravvedimento e la fede nel prezioso sangue di Cristo, unico Sommo Sacerdote, siano indispensabili per la purificazione dal peccato di chiunque Lo accetta come salvatore e Signore. (Lettera di Paolo ai Romani 3:22-25; Libro degli Atti degli Apostoli 2:38; Prima lettera di Pietro 1:18,19; Lettera di Paolo agli Efesini 2:18).</p>
            </div>
            <div class="believe-item-counter">
                <h3>4.</h3>
            </div>
            <div>
                <h4>La rigenerazione</h4>
                <p>Crediamo che la rigenerazione (nuova nascita) per opera dello Spirito Santo è assolutamente essenziale per la salvezza (Vangelo di Giovanni 3:3; Prima lettera di Pietro 1:23; Lettera di Paolo a Tito 3:5), e crediamo nella potenza santificante dello Spirito Santo, che si manifesta nel credente con una vita coerente all’insegnamento del Vangelo (Seconda lettera di Paolo ai Tessalonicesi 2:13; Lettera di Paolo ai Romani 6:19; Lettera di Paolo ai Galati 5:22).</p>
            </div>
            <div class="believe-item-counter">
                <h3>5.</h3>
            </div>
            <div>
                <h4>Il battesimo nello spirito santo</h4>
                <p>Crediamo al battesimo nello Spirito Santo, come esperienza susseguente a quella della nuova nascita, che si manifesta, secondo le Scritture, con il segno del parlare in nuove lingue. (Libro degli Atti degli Apostoli 2:4; 2:42-46; 8:12-17; 10:44-46; 11:14-16; 15:7-9; 19:2-6; Vangelo di Marco 16:20; Vangelo di Giovanni 16:13; Vangelo di Matteo 28:19-20).</p>
            </div>
            <div class="believe-item-counter">
                <h3>6.</h3>
            </div>
            <div>
                <h4>Il battesimo</h4>
                <p>Celebriamo il battesimo in acqua per immersione, nel nome del Padre, del Figlio e dello Spirito Santo, per coloro che fanno professione della propria fede nel Signore Gesù Cristo come loro personale Salvatore. (Vangelo di Matteo 28:18-19; Libro degli Atti degli Apostoli 2:38; 8:12).</p>
            </div>
            <div class="believe-item-counter">
                <h3>7.</h3>
            </div>
            <div>
                <h4>La cena del signore</h4>
                <p>Celebriamo la Cena del Signore o Santa Cena, sotto le due specie del pane e del vino, rammemorando così la morte del Signore ed annunziandone il ritorno, amministrata a chiunque sia stato battezzato secondo le regole dell’Evangelo e viva una vita degna e santa davanti a Dio ed alla società. (Prima lettera di Paolo ai Corinzi 11:23-29; Vangelo di Luca 22:19-20).</p>
            </div>
        </div>
</section>

<!-- wp:template-part {"slug":"footer","theme":"diemrt-local-church-theme","area":"uncategorized"} /-->